.widget
{
    width: 45%;
    height: 150px;
    padding: 40px;
    border-radius: 10px;
    background: rgb(96 96 96 / 25%);
    padding-left: 25px;
}
.widget h6
{
    font-size:25px;
    color: #5F4A8B;
}
.widget span
{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
body
{
    background-color: #0d0d0d;
    color: #fff;
}
.card-dashboard
{
    background: rgb(96 96 96 / 25%);
}
.card h4
{
    color: #5F4A8B;
}
.btn-custom
{
    background-color: #5F4A8B;
    color: #fff;
}
.btn-custom:hover
{
    background-color: #473766;
    color: #fff;
}
.btn-custom:active
{
    background-color: #5F4A8B !important;
    color: #fff;
}
.btn-custom:focus
{
    box-shadow: none;
}
.card-header
{
    height: 50px;
}